<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body bgcolor="#ffffff" text="#999999" link="#999999" vlink="#999999" alink="#999999">

<table width="600" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->

	<tr>
    	<td width="596" height="718" valign="top" >
                    	
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Order No. ORDERNO</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;"color="#666666">Project: PROJECT</font></p>
          <br/>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Dear FISRTNAME LASTNAME,</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">We received your file and inspected it before starting the job; unfortunately, your file has some inconsistencies or problems that prevent us to process it. Please refer to the report below, sent by our technician in charge of your file: </font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Technician wrote: "REASON".</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">We regret this is happening but don’t worry, we have already cancelled your Order No. ORDERNO and opened up a Credit of $ CREDITAMOUNT in your account. This amount will be posted permanently in your Orders folder and the credit available for you to use at your earliest convenience.</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">To redeem your credit, simply follow the instructions below: </font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">1. Log in your account.</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;"color="#666666">2. Go to Orders.</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">3. Enter a new Project Name</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;"color="#666666">4. Enter the Volume of Records.</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">5. Browse your new file and press Next.</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">6. Select Payment Method: Credit in my account.</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">7. Press Pay Now.</font></p>
          <br/>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">If you still have any questions or need further information feel free to contact us via our webmail tool.</font></p>          <font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666"><br />
Regards,<br/>
                    </font><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">The Green Apple Mail Team.<br />
          <br />
          <br />
Clean up your lists with Green Apple Mail, email safe and green!</font></td>
    </tr>
	<tr>
	  <td height="30" valign="top" >
        <div align="left"><font color="666666" face="Verdana, Arial, Helvetica, sans-serif"><img src="http://www.greenapplemail.com/GreenAppleMail/public_html/Images/GAMpop.jpg" width="30" height="30" align="middle" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _________________________________________________&nbsp;</font></div></td>
  </tr>
	<tr>
	  <td height="24" valign="top" ><div align="center">
	    <p><font color="#999999" face="Verdana, Arial, Helvetica, sans-serif"  style="font-size:9px; line-height:9px;">You received this email because you have signed up to GreenAppleMail.com. <br />
	      If you think you have received this email in error, please contact us at <a href="">contact@greenapplemail.com</a></font></p>
	  </div></td>
  </tr>
	<tr>
	  <td height="16" ></td>
  </tr>
</table>

</body>
</html>
