<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body bgcolor="#ffffff" text="#999999" link="#999999" vlink="#999999" alink="#999999">

<table width="600" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->

	<tr>
   	  <td width="596" height="240" valign="top" >
        <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Dear FISRTNAME LASTNAME,</font></p>
        <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666"><br />
        Good news! Your password has been recovered.<br />
        </font><br/>
          <font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#03110A">Your password is: <b>PASSWORD</b></font><br/>
          <br/>
        <font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Thanks for choosing Green Apple Mail.  </font></p>        <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">
                <br />
        Regards,<br/>
                </font><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">The Green Apple Mail Team.<br />
                <br />
                <br />
Clean up your lists with Green Apple Mail, email safe and green!
      </font></p></td>
    </tr>
	<tr>
	  <td height="30" valign="top" >
        <div align="left"><font color="666666" face="Verdana, Arial, Helvetica, sans-serif"><img src="http://www.greenapplemail.com/GreenAppleMail/public_html/Images/GAMpop.jpg" width="30" height="30" align="middle" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _________________________________________________&nbsp;</font></div></td>
  </tr>
	<tr>
	  <td height="24" valign="top" ><div align="center">
	    <p><font color="#999999" face="Verdana, Arial, Helvetica, sans-serif"  style="font-size:9px; line-height:9px;">You received this email because you have signed up to GreenAppleMail.com. <br />
	      If you think you have received this email in error, please contact us at <a href="">contact@greenapplemail.com</a></font></p>
	  </div></td>
  </tr>
	<tr>
	  <td height="4" ></td>
  </tr>
</table>

</body>
</html>
