<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body bgcolor="#ffffff" text="#999999" link="#999999" vlink="#999999" alink="#999999">
<table width="600" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->

	<tr>
    	<td width="591" height="452" valign="top" >
       	  <p><br />
   	      <font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Order No. ORDERNO</font></p>
       	  <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;"color="#666666">Project: PROJECT</font></p>
       	  <br/>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Dear FISRTNAME LASTNAME,</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Thanks for your payment! Your folder has been unlocked and your file is now available to be retrieved. </font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">You can log into your account at <a href="http://www.GreenAppleMail.com">GreenAppleMail.com</a>  and download your file from your Documents tab. </font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666"><b>Warning: For security reasons, your order and folder with your file(s) will be automatically deleted in twenty (20) days.</b></font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Remember, our specialists recommend verifying email lists at least once a month, to keep them “green” and clean.</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">We look forward to serving you again soon!</font></p>          <font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Best Regards,</font><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666"><br/>
                    </font><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666"><br/>
Technical Support<br/>
Green Apple Mail<br />
<br />
                              </font><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Clean up your lists with Green Apple Mail, email safe and green!</font></td>
                <td width="3" >&nbsp;</td>
	</tr>
	<tr>
	  <td height="30" valign="top" >
      <div align="left"><font color="666666" face="Verdana, Arial, Helvetica, sans-serif"><img src="http://www.greenapplemail.com/GreenAppleMail/public_html/Images/GAMpop.jpg" width="30" height="30" align="middle" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _________________________________________________&nbsp;</font></div></td>
      <td>&nbsp;</td>
  </tr>
	<tr>
	  <td height="24" valign="top" ><div align="center">
	    <p><font color="#999999" face="Verdana, Arial, Helvetica, sans-serif"  style="font-size:9px; line-height:9px;">You received this email because you have signed up to GreenAppleMail.com. <br />
        If you think you have received this email in error, please contact us at <a href="">contact@greenapplemail.com</a></font></p>
	  </div></td>
      <td >&nbsp;</td>
  </tr>
	<tr>
	  <td height="12" ></td>
	  <td ></td>
  </tr>
</table>

</body>
</html>
