<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body bgcolor="#ffffff" text="#999999" link="#999999" vlink="#999999" alink="#999999">

<table width="597" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->

	<tr>
    	<td width="593" height="591" valign="top" >
       	  <p><br />
   	      <font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Order No. ORDERNO</font></p>
       	  <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Project: PROJECT</font></p>
       	  <br/>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Dear FISRTNAME LASTNAME,</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Congratulations! Your order is ready now- your file is verified, validated and clean.</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">You can log into your account at http://www.GreenAppleMail.com and download your file from your Documents tab. </font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666"><b>Warning: For security reasons, your order and folder with your file(s) will be automatically deleted in twenty (20) days.</b></font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">If you like your Demo File and decide to purchase the entire order, simply follow the instructions below: </font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">1. Log in your account.</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;"color="#666666">2. Go to Documents.</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">3. Locate your specific Order</font></p>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">4. Press over text "Pending" in payments.</font></p>
          <p><font face="Verdana, Geneva, sans-serif"style="font-size:12px;" color="#666666">5. Make the payment</font></p>
          <br/>
          <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Best Regards,</font><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666"><br/>
            </font><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666"><br/>
              Technical Support<br/>
              Green Apple Mail<br />
  <br />
          </font><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Clean up your lists with Green Apple Mail, email safe and green!</font></p></td>
    </tr>
	<tr>
	  <td height="30" valign="top" >
        <div align="left"><font color="666666" face="Verdana, Arial, Helvetica, sans-serif"><img src="http://www.greenapplemail.com/GreenAppleMail/public_html/Images/GAMpop.jpg" width="30" height="30" align="middle" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _________________________________________________&nbsp;</font></div></td>
  </tr>
	<tr>
	  <td height="24" valign="top" ><div align="center">
	    <p><font color="#999999" face="Verdana, Arial, Helvetica, sans-serif"  style="font-size:9px; line-height:9px;">You received this email because you have signed up to GreenAppleMail.com. <br />
        If you think you have received this email in error, please contact us at <a href="">contact@greenapplemail.com</a></font></p>
	  </div></td>
  </tr>
	<tr>
	  <td height="3" ></td>
  </tr>
</table>

</body>
</html>
