<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body bgcolor="#ffffff" text="#666666" link="#666666" vlink="#666666" alink="#666666">

<table width="605px" cellpadding="0" cellspacing="0">
  <!--DWLayoutTable-->

	<tr>
    	<td width="596" height="400" valign="top" >
       	  <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Hello FISRTNAME LASTNAME,</font></p>
       	  <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Thanks for joining Green Apple Mail. You're officially our newest member!</font><br />
   	      <font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Your username is the email address you used to sign up and your password is: PASSWORD</font></p>
       	  <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Please save this information or print a copy for future reference.<br />
       	  </font><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Here are the main steps to start validating your email lists:</font>       	  </p>
       	  <ul>
              <li><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Login</font></li>
              <li><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Go to Orders tab</font></li>
              <li><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Follow instructions on how to place your order and upload your file</font></li>
              <li><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Select your preferred method of payment</font></li>
          </ul>
       	  <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">From that point on we’ll take care of your order and, of course, we’ll keep you posted on our progress<br />
   	      </font><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666"><br />
   	      If you have any trouble or need additional support using your account, please contact us.</font></p>       	  <p><font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Thank you for choosing Green Apple Mail!</font><br/>
            <br />
            <font face="Verdana, Geneva, sans-serif" style="font-size:12px;" color="#666666">Regards,<br/>
          The Green Apple Mail Team<br />
          <br />
          Clean up your lists with Green Apple Mail, email safe and green!<br />
        </font></p></td>
    <td width="3">&nbsp;</td>
	</tr>
	<tr>
	  <td height="30" valign="top" >
      <div align="left"><font color="666666" face="Verdana, Arial, Helvetica, sans-serif"><img src="http://www.greenapplemail.com/GreenAppleMail/public_html/Images/GAMpop.jpg" width="30" height="30" align="middle" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _________________________________________________&nbsp;</font></div></td>
      <td>&nbsp;</td>
  </tr>
	<tr>
	  <td height="24" valign="top" ><div align="center">
	    <p><font color="#999999" face="Verdana, Arial, Helvetica, sans-serif"  style="font-size:9px; line-height:9px;">You received this email because you have signed up to GreenAppleMail.com. <br />
	      If you think you have received this email in error, please contact us at <a href="">contact@greenapplemail.com</a></font></p>
	  </div></td>
	  <td>&nbsp;</td>
  </tr>
	<tr>
	  <td height="4" ></td>
	  <td></td>
  </tr>
</table>

</body>
</html>
